.input-wrapper {
    position: relative;
  }
  
  .input-wrapper .form-control {
    padding-left: 40px; /* Adjust based on the icon size */
  }
  
  .input-icon-symbol {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888; 
    pointer-events: none; 
  }
  .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .input-wrapper .fa {
    position: absolute;
    top: 50%;
    right: 30px; /* Adjust this based on the icon size */
    transform: translateY(-50%);
    color: #888; /* Adjust color to your preference */
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
  }
  