<section>
    <h1 class="text-center text-main my-2">Forget Password</h1>
    
    
     @if (step == 1) {
        <!-- Verify Email Form -->
        <form [formGroup]="verifyEmail" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="verifyEmailSubmit()">
            <div class="my-2">
                <label for="email">Email</label>
                <input
                    [ngClass]="{
                        'is-valid': !verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty),
                        'is-invalid': verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty)
                    }"
                    formControlName="email"
                    type="email"
                    id="email"
                    class="form-control"
                >
    
                <div *ngIf="verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty)" class="alert alert-danger w-50 m-0">
                    <p *ngIf="verifyEmail.get('email')?.hasError('required')" class="m-0">Email is required</p>
                    <p *ngIf="verifyEmail.get('email')?.hasError('email')" class="m-0">Enter a valid email</p>
                </div>
            </div>
    
            <button type="submit" [disabled]="verifyEmail.invalid" class="btn-main">
                Verify Email
                <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
            </button>
        </form>
    }
    @else if (step == 2) {
        <!-- Verify Code Form -->
        <form [formGroup]="verifyCode" class="bg-main-light rounded-4 shadow p-3 mt-4" (ngSubmit)="verifyCodeSubmit()">
            <div class="my-2">
                <label for="resetCode">Reset Code</label>
                <input
                    [ngClass]="{
                        'is-valid': !verifyCode.get('resetCode')?.errors && (verifyCode.get('resetCode')?.touched || verifyCode.get('resetCode')?.dirty),
                        'is-invalid': verifyCode.get('resetCode')?.errors && (verifyCode.get('resetCode')?.touched || verifyCode.get('resetCode')?.dirty)
                    }"
                    
                    formControlName="resetCode"
                    type="text"
                    id="resetCode"
                    class="form-control"
                >

                <div *ngIf="verifyCode.get('resetCode')?.errors && (verifyCode.get('resetCode')?.touched || verifyCode.get('resetCode')?.dirty)" class="alert alert-danger w-50 m-0">
                    <p *ngIf="verifyCode.get('resetCode')?.hasError('required')" class="m-0">Reset code is required</p>
                    <p *ngIf="verifyCode.get('resetCode')?.hasError('pattern')" class="m-0">Enter a valid reset code</p>
                </div>
            </div>

            <button type="submit" [disabled]="verifyCode.invalid" class="btn-main">
                Verify Code
                <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
            </button>
        </form>
    }
    @else if (step == 3) {
        <!-- Reset Password Form -->
        <form [formGroup]="resetPassword" class="bg-main-light rounded-4 shadow p-3 mt-4" (ngSubmit)="resetPasswordSubmit()">
            <div class="my-2">
                <label for="email">Email</label>
                <input
                    [ngClass]="{
                        'is-valid': !resetPassword.get('email')?.errors && (resetPassword.get('email')?.touched || resetPassword.get('email')?.dirty),
                        'is-invalid': resetPassword.get('email')?.errors && (resetPassword.get('email')?.touched || resetPassword.get('email')?.dirty)
                    }"
                    readonly
                    formControlName="email"
                    type="email"
                    id="email"
                    class="form-control"
                >

                <div *ngIf="resetPassword.get('email')?.errors && (resetPassword.get('email')?.touched || resetPassword.get('email')?.dirty)" class="alert alert-danger w-50 m-0">
                    <p *ngIf="resetPassword.get('email')?.hasError('required')" class="m-0">Email is required</p>
                    <p *ngIf="resetPassword.get('email')?.hasError('email')" class="m-0">Enter a valid email</p>
                </div>
            </div>

            <div class="my-2">
                <label for="newPassword">New Password</label>
                <input
                    [ngClass]="{
                        'is-valid': !resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty),
                        'is-invalid': resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty)
                    }"
                    formControlName="newPassword"
                    type="password"
                    id="newPassword"
                    class="form-control"
                >

                <div *ngIf="resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty)" class="alert alert-danger w-50 m-0">
                    <p *ngIf="resetPassword.get('newPassword')?.hasError('required')" class="m-0">New password is required</p>
                    <p *ngIf="resetPassword.get('newPassword')?.hasError('pattern')" class="m-0">Enter a valid new password </p>
                </div>
            </div>

            <button type="submit" [disabled]="resetPassword.invalid" class="btn-main">
                Reset Password
                <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
            </button>
        </form>
    }
    
</section>
