<section>
    <div class="row g-0">
        <div class="col-md-10">
            <div>

                <owl-carousel-o [options]="customOptionsMain" >
                    <ng-template carouselSlide>
                        <img src="../../../assets/images/slider-image-1.jpeg" class="w-100 cursor-pointer" height="300px" alt="">

                    </ng-template>  
                    <ng-template carouselSlide>
                        <img src="../../../assets/images/slider-image-2.jpeg" class="w-100 cursor-pointer" height="300px" alt="">
                        
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="../../../assets/images/slider-image-3.jpeg" class="w-100 cursor-pointer" height="300px" alt="">
                        
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="../../../assets/images/blog-img-2.jpeg" class="w-100 cursor-pointer" height="300px" alt="">
                        
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="../../../assets/images/blog-img-1.jpeg" class="w-100 cursor-pointer " height="300px" alt="">
                        
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="../../../assets/images/banner-4.jpeg" class="w-100 cursor-pointer" height="300px" alt="">
                        
                    </ng-template>
                  </owl-carousel-o>
               
            </div>
        </div>
        <div class="col-md-2">
            <img src="../../../assets/images/grocery-banner.png" height="150px" class="w-100" alt="">
            <img src="../../../assets/images/grocery-banner-2.jpeg" height="150px" class="w-100" alt="">
        </div>
    </div>
</section>

<!-- categories -->

<section class="my-2">
    <h2> {{"home.Shop Popular Categories" | translate}} :</h2>

    <owl-carousel-o [options]="customOptionsCategory">

      @for (category of categoryList(); track category._id) {
        <ng-template carouselSlide >
            <!-- content  -->
             <div [routerLink]="['/detailsCategory' , category._id]" class="cursor-pointer">
                <img [src]="category.image" height="250px" class=" w-100" [alt]="category.name">
                <h3 class="h6 text-main text-center"> {{category.name}}  </h3>
             </div>
             
            
          </ng-template>
      }
    
    </owl-carousel-o>
</section>
<!-- products -->
<section>
    <h2> {{"home.Popular Products" | translate}} :</h2>

    <input [(ngModel)]="text" type="search" class="form-control w-50 mx-auto my-4" placeholder="Search By Name">

    <div class="row g-3">
        
        @for (product of productList().slice(0,12) | search : text; track product.id) {
            <div class="col-md-2">
                <div class="product p-2 " >
                  <div  >
                    <img [routerLink]="['/details',product.id]" [src]="product.imageCover" class="w-100 cursor-pointer" [alt]="product.title">
                    <h3 class="small text-main"> {{product.category.name}} </h3>
                    <div class="d-flex justify-content-between">
                        <div>
                            <h4 class="h6"> {{product.title.split(" ").slice(0,2).join(" ")}} </h4>
                        </div>
                        <div>
                            <i
                              class="fa-heart fa-xl cursor-pointer"
                              [ngClass]="{
                                'fa-regular': !wishlist[product.id],
                                'fa-solid text-danger': wishlist[product.id]
                              }"
                              (click)="toggleWishList(product.id)"
                            ></i>
                          </div>
                          
                       </div>
    
                    <div class="d-flex justify-content-between align-items-center">
                        <span>{{product.price}} EGP</span>
    
                        <div>
                            @for (num of [1,2,3,4,5].slice(0 , product.ratingsAverage); track $index) {
                                <span> <i class="fas fa-star rating-color"></i> </span>
                            }
                            @if (product.ratingsAverage % 1 !== 0) {
                                <i class="fa-solid fa-star-half-stroke rating-color"></i>
                            }
                            
    
                            <span class="text-muted"> {{product.ratingsAverage}} </span>
                        </div>
                    </div>
                  </div>

                  <button  type="submit" class="btn-main w-100" (click)="addCart(product.id)">
                    Add to Cart
                    <!-- {{ isLoading[product._id] ? 'Loading...' : 'Add to Cart' }} -->
                    @if (isLoading[product._id]) {
                        <span><i class="fas fa-spi fa-spinner"></i></span>
                    }
                
                </button>
                    
                </div>
            </div>
        }
    </div>
</section>